@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  width: 100%;

  &__wrap {
    color: white;
    margin: 2px 10px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    display: flex;
    // flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background: radial-gradient(#040f18, #201620);

    &:hover {
      box-shadow: 0px 6px 10px rgba(97, 97, 97, 0.4);
      transform: scale(1.01);
    }

    &--icon {
      width: fit-content;
      margin-right: 15px;
      margin-left: 5px;
      height: 100%;

      & img {
        margin-bottom: 0;
      }
    }

    &--title {
      font-size: 16px;
      font-weight: 800;
      margin: auto 0;
    }

    &--content {
      display: flex;
      flex-direction: column;

      &-title {
        text-align: start;
        font-size: 16px;
        font-weight: 800;
        margin: auto 0;
        overflow: hidden;
      }

      &-url {
        text-align: start;
        font-size: 12px;
        margin: auto 0;
        color: gray;
      }
    }
  }
}